<p id="notice"><%= notice %></p>

<p>
  <strong>Desc tipoocorrencia:</strong>
  <%= @tipoocorrencium.desc_tipoocorrencia %>
</p>

<%= link_to 'Edit', edit_tipoocorrencium_path(@tipoocorrencium) %> |
<%= link_to 'Back', tipoocorrencia_path %>
