<p id="notice"><%= notice %></p>

<p>
  <strong>Nome categoria:</strong>
  <%= @categoriaprestador.nome_categoria %>
</p>

<%= link_to 'Edit', edit_categoriaprestador_path(@categoriaprestador) %> |
<%= link_to 'Back', categoriaprestadors_path %>
