<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
    Olá,  <%@pessoa.nome_pessoa%><br>
    Seja bem-vido! agora você é um usuário do Softcon.<br>
    Guarde esse e-mail com seus dados de acesso.<br>
    Acesse nosso site <a href="http://softcontecnologia.com.br/">Softcon</a> e confira todos nossos benefícios<br>
    Login: <%@user.email%><br>
    Senha: <%@user.password%><br>
  </body>
</html>
