<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
    <%=@duvida.html_safe%><br>
     <br>
     Dados:<br>
     Nome: <%=@nome%><br>
     Email: <%=@email%><br>
     Telefone: <%=@telefone%><br>

   </p>

  </body>
</html>
