<p id="notice"><%= notice %></p>

<p>
  <strong>Desc tiporeserva:</strong>
  <%= @tiporeserva.desc_tiporeserva %>
</p>

<%= link_to 'Edit', edit_tiporeserva_path(@tiporeserva) %> |
<%= link_to 'Back', tiporeservas_path %>
