<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      A solicitação de reserva feita por <%= @reserva.nome_solicitante %>.<br>
      Foi negada pelo seguinte motivo: <%= @reserva.desc_motivocancelamento %>
    </p>
  </body>
</html>
