<section class="content-header">
  <div class="row">
    <div class="col-lg-3 col-xs-6">
      <!-- small box -->
      <div class="small-box bg-aqua">
        <div class="inner">
          <h3>150</h3>
          <p>Novas Reservas</p>
        </div>
        <div class="icon">
          <i class="ion ion-android-calendar"></i>
        </div>
        <!-- <a href="#" class="small-box-footer">Acessar <i class="fa fa-arrow-circle-right"></i></a> -->
      </div>
    </div><!-- ./col -->
    <div class="col-lg-3 col-xs-6">
      <!-- small box -->
      <div class="small-box bg-green">
        <div class="inner">
          <h3>53</h3>
          <p>Reservas Aprovadas</p>
        </div>
        <div class="icon">
          <i class="ion ion-checkmark-round"></i>
        </div>
        <!-- <a href="#" class="small-box-footer">Acessar <i class="fa fa-arrow-circle-right"></i></a> -->
      </div>
    </div><!-- ./col -->
    <div class="col-lg-3 col-xs-6">
      <!-- small box -->
      <div class="small-box bg-red">
        <div class="inner">
          <h3>65</h3>
          <p>Reservas Negadas</p>
        </div>
        <div class="icon">
          <i class="ion ion-close"></i>
        </div>
        <!-- <a href="#" class="small-box-footer">Acessar <i class="fa fa-arrow-circle-right"></i></a> -->
      </div>
    </div><!-- ./col -->
    <div class="col-lg-3 col-xs-6">
      <!-- small box -->
      <div class="small-box bg-yellow">
        <div class="inner">
          <h3>44</h3>
          <p>Total Reservas</p>
        </div>
        <div class="icon">
          <i class="ion ion-ios-medical"></i>
        </div>
        <!-- <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a> -->
      </div>
    </div><!-- ./col -->
  </div>
</section>
