# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 08efc4968af95b06db166e9b8ddd822cc4f4a2c93198adf973536aac3a65b0223836dae7751dcddc9b0c24f36125b1eb4e04ceaafb19e27d3e1da9bbfa110fd4

test:
  secret_key_base: 65589f7be75e5fe73645cde3cf690a25e60fc5a866b962141f4fd4402378d59fdbdc426cfb2cd1fb5c779c5eb7693edc1388ecb3b30f142b5e50df3663868a03

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
