<meta charset="utf-8">



 <table id="t01">
   <tr>
     <td style="font-size: 11px" align="center"> <strong>www.softcontecnologia.com.br Sistemas para condomínios</strong></td>
   </tr>
   <tr>
     <td style="font-size: 12px" align="center"> <strong>Previsão de Orçamento Mensal <%=@condominio%></strong></td>
   </tr>
   <tr>
    <td style="font-size: 12px" align="right">
      Referência 11/2016 <br><br>
      Qtd Unidades: 400
    </td>
   </tr>
  </table>

<table>
  <tr>
    <td style="font-size: 12px"><strong>Despesas</strong></td>
    <td align="right" style="font-size: 12px">Valor Previsto</td>
  </tr>
</table>

<% @x = 0%>
<%@hr = false%>

<% @subtitulos.each do |subtitulo| %>
  <%if @x != subtitulo.item_id && @x != 0%>
      <hr>
  <%end%>
   <table>
      <tr>
        <%if @x != subtitulo.item_id%>
          <td style="font-size: 11px"><i><%=subtitulo.item.upcase%></i></td>
         <%end%>
      <%@x = subtitulo.item_id%>
      </tr>
      <tr>
        <td style="font-size: 11px; padding-left:3em"><%=subtitulo.subitem%></td>
        <td style="font-size: 11px" align="right"><%=subtitulo.valr_divida%></td>
      </tr>
   </table>
<%end%>

<style media="screen">

table {
   display: table;
   border-collapse: separate;
   border-spacing: 2px;
   border-color: gray;
   width:100%;
}

.table > tbody > tr > td {
  font-size: 11px;
}
.table > thead > tr > th {
  font-size: 11px;
}

table#t01 {
    border: 1px solid black;
    border-collapse: collapse;
    font-size: 11px;
}

hr {
    height: 1px;
    color: #000000;
    background-color: #000000;
    border: none;
}

</style>
