<!-- Section Six (Footer) Start -->
<div class="section footer">
    <div class="inner clearfix">

        <div class="row">
            <!-- Row Start -->

            <div class="block4">
                <!-- Block One Start -->

                <div class="_inner">
                    <h2>Mapa do Site:</h2>
                    <ul class="links">
                        <li><a href="index.aspx">Página Principal</a></li>
                        <li><a href="templates/about.html">Quem Somos</a></li>
                        <li><a href="templates/servico.html">Serviços</a></li>
                        <li><a href="templates/contact.html">Contato</a></li>
                    </ul>
                </div>

            </div>
            <!-- Block One End -->

            <div class="block4">
                <!-- Block Two Start -->

                <div class="_inner _padder">
                    <h2>Quem Somos:</h2>
                    <p>
                        Somos uma empresa de gestão de tecnologia voltada principalmente para automação de conjuntos habitacionais.
                        Cuidamos de todos os aspectos formais da ação de automação das tarefas de condomínios. Nossas soluções
                        mapeiam desde o controle de fluxo numa portaria até processos gerenciais mais específicos, como gestão de contas.
                        <span><a href="templates/about.html">Saiba mais</a></span>
                    </p>
                </div>

            </div>
            <!-- Block Two End -->

            <div class="block4">
                <!-- Block Three Start -->

                <div class="_inner">
                    <h2>Principais Fornecedores:</h2>
                    <ul class="media-grid">
                        <li><a href="#">
                            <img src="/assets/media/1-aut.jpg" /></a></li>
                        <li><a href="#">
                            <img src="/assets/media/2-gs.jpg" /></a></li>
                        <li><a href="#">
                            <img src="/assets/media/3-hdl.jpg" /></a></li>
                        <li><a href="#">
                            <img src="/assets/media/4-hr.jpg" /></a></li>
                        <li><a href="#">
                            <img src="/assets/media/5-ib.jpg" /></a></li>
                        <li><a href="#">
                            <img src="/assets/media/1-aut.jpg" /></a></li>
                        <li><a href="#">
                            <img src="/assets/media/2-gs.jpg" /></a></li>
                        <li><a href="#">
                            <img src="/assets/media/3-hdl.jpg" /></a></li>
                        <li><a href="#">
                            <img src="/assets/media/4-hr.jpg" /></a></li>
                        <li><a href="#">
                            <img src="/assets/media//5-ib.jpg" /></a></li>
                    </ul>
                </div>

            </div>
            <!-- Block Three end -->

        </div>
                       <!-- Row End -->
        <div class="copy">
            <span class="made">Desenvolvido pela <a href="index.aspx">Softcon Tecnologia</a></span>

            <!-- Social Footer Start -->
            <ul class="list list-inline social">

                <li class="first"><a href="https://www.facebook.com/welingtonsoftcon" title="Facebook" data-placement="top" target="_blank"><i class="so24_facebook"></i></a></li>
                <li><a href="https://twitter.com/_uloga" title="Twitter" data-placement="top" target="_blank"><i class="so24_twitter"></i></a></li>
                <li><a href="https://plus.google.com/u/0/+AlanMuseljic/posts" title="Google+" data-placement="top" target="_blank"><i class="so24_google_plus"></i></a></li>
                <li><a href="http://instagram.com/softconcondominio" title="Instagram" data-placement="top"><i class="so24_instagram" target="_blank"></i></a></li>
                <li><a href="" title="Linkedin" data-placement="top"><i class="so24_linked_in"></i></a></li>
                <li><a href="" title="Pinterest" data-placement="top"><i class=" so24_pinterest"></i></a></li>

            </ul>
            <!-- Social Footer End -->

        </div>
    </div>
</div>
<!-- Section Six (Footer) End -->
