<head>
    <meta charset="utf-8">
    <title>Softcon Tecnologia</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Controle de acesso e cadastro moradores, biometria, síndico">
    <meta name="keywords" content="Síndico,Softcon,biometria,condomínio,controle de acesso,softcon tecnologia,tecnologia,condomínios">
    <meta name="author" content="">
    <!-- ===== CSS START ==== -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
    <link href="/assets/site/animate.css" rel="stylesheet">
    <link href="/assets/site/decorator.css" rel="stylesheet">
    <link href="/assets/site/icons-decorator.css" rel="stylesheet">
    <link href="/assets/site/theme.css" rel="stylesheet">
    <!-- ===== CSS END ==== icons-ttf.css -->
</head>

<body class="single">

    <!-- Wrapper Start -->
    <div class="wrapper clearfix">

       <%= render 'site/menu'%>

        <!-- Single Content Start -->
        <div class="single-wrapper push-down">

            <div class="single-inner clearfix">

                <div class="single-page full-width"><!-- Single Content Start -->

                    <div class="full-image">
                        <img class="content-image" src="/assets/media/blog/6-sfc.jpg" alt="Decorator Front End">
                    </div>

                    <!-- The Content Start -->

                    <div class="the-content">
                        <div class="content">
                            <h1 class="content-title"> Sobre a Softcon </h1>
                            <p>
                            Diferencie seu trabalho dos administradores sem estrutura, que utilizam softwares “de prateleira”
                            ou com versões gratuitas que não lhes dão suporte ou treinamento e ficam impossibilitados de se
                            adaptarem as suas necessidades. Para o sistema “SINDICO” damos assessoría, treinamento, manutenção
                            e possibilidade de expansão do sistema conforme a necessidade do administrador. Agende uma visita
                            para melhor esclarecimento.
                            </p>
                        </div>
                    </div>

                    <!-- The Content End -->

                    <!-- Sidebar Start -->

                    <div class="sidebar sidebar-right">

                        <div class="sidebar-people">
                            <h2 class="sidebar-heading">Pilares Softcon</h2>
                            <ul class="list people">
                                <li>
                                    <img class="people-tmb" src="/assets/media/gandhi.jpg" alt="Softcon Tecnologia" />
                                    <div class="people-content">
                                        <h2><a href="http://en.wikipedia.org/wiki/Mahatma_Gandhi" target="_blank"> Missão</a></h2>
                                        <p>Proporcionar aos nossos clientes serviços de excelência.</p>
                                    </div>
                                </li>
                                <li>
                                    <img class="people-tmb" src="/assets/media/mandela.jpg" alt="Softcon Tecnologia" />
                                    <div class="people-content">
                                        <h2><a href="http://en.wikipedia.org/wiki/Nelson_Mandela" target="_blank">Visão</a></h2>
                                        <p>Ser a melhor empresa de controle de acesso da região centro-oeste.</p>
                                    </div>
                                </li>
                                <li>
                                    <img class="people-tmb" src="/assets/media/teresa.jpg" alt="Softcon Tecnologia" />
                                    <div class="people-content">
                                        <h2><a href="http://en.wikipedia.org/wiki/Mother_Teresa" target="_blank"> Valores</a></h2>
                                        <p>Executar as atividades comerciais de maneira sustentável.</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <!-- Sidebar End -->

                </div><!-- Single Content End -->

            </div>

        </div>
        <!-- Single Content End -->

      <%= render 'site/footer'%>
        <!-- Simple One  Modal Start (CSS do login) -->

        <div class="modal-form hide">

            <!-- This is a static example of modal built directly into html content -->

            <div class="modal-header">
                <h2 class="modal-title">Administração</h2>
            </div>

            <div class="modal-content">

                <form class="form-basic">

                    <fieldset>
                    <legend>Login</legend>

                    <label>Usuário</label>
                    <input placeholder="Usuário ou Email" type="text">
                    <span class="help-info">Entre com o nome de usuário ou email</span>


                    <label>Senha</label>
                    <input placeholder="Senha" type="password">
                    <span class="help-info">Entre com sua senha</span>

                    <label class="checkbox">
                        <input type="checkbox"> Lembrar-me
                    </label>

                    <button type="submit" class="btn blue">Enviar</button>
                    </fieldset>

                </form>

            </div>
        </div>
        <!-- Simple Form Modal End (CSS do login) -->
    </div>
