<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Softcon Tecnologia</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Controle de acesso e cadastro moradores, biometria, síndico">
    <meta name="keywords" content="Síndico,Softcon,biometria,condomínio,controle de acesso,softcon tecnologia,tecnologia,condomínios">
    <meta name="author" content="">
    <!-- ===== CSS START ==== -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
    <link href="/assets/site/animate.css" rel="stylesheet">
    <link href="/assets/site/decorator.css" rel="stylesheet">
    <link href="/assets/site/icons-decorator.css" rel="stylesheet">
    <link href="/assets/site/theme.css" rel="stylesheet">
    <!-- ===== CSS END ==== icons-ttf.css -->
</head>
<body class="single">
    <!-- Wrapper Start -->
    <div class="wrapper clearfix">

        <div class="top-bar">
            <!-- Topbar Start -->

            <div class="inner clearfix">
                <a href="../index.aspx" class="logo">Softcon<span>Tecnologia</span></a>
                <a href="#" class="menu-action res-open">+</a>
                <ul class="list-inline">
                    <!-- Main Menu Start -->
                    <li><a href="about.html">Quem Somos</a></li>
                    <li><a href="servico.html">Serviços</a></li>
                    <li><a href="contact.html">Contato</a></li>
                    <li class="active"><a href="#" class="border-blue btn form_" data-target="modal-form">Login</a></li>
                </ul><!-- Main Menu End -->
            </div>

        </div><!-- Topbar End -->
        <!-- Single Content Start -->
        <div class="single-wrapper push-down">

            <div class="single-inner clearfix">

                <div class="single-heading">
                    <h1 class="single-title">Os produtos Softcon estão à disposição dos seus parceiros, confiram!</h1>
                </div>

                <div class="single-page">
                    <!-- Single Content Start -->
                    <!-- Sidebar Start -->

                    <div class="sidebar sidebar-left tabs hover-right">

                        <ul class="media-list related-list tab-actions">

                            <!-- List node 1 start -->
                            <li>
                                <a class="media-thumbnail" id="panel-1" href="#">
                                    <img src="/assets/media/portfolio/1.jpg" alt="">
                                </a>
                                <div class="media-content">
                                    <h2 class="sidebar-heading">Consultoria</h2>
                                    <p class="media-desc">
                                        Acompanhamos sua implantação desde o orçamento até o final de sua execução.<br />
                                        Orçamento de computadores,câmeras,cabeamento,biometria,antenas de RFID,Tag
                                    </p>
                                </div>
                            </li>
                            <!-- List node 1 end -->
                            <!-- List node 2 start -->
                            <li>
                                <a class="media-thumbnail" id="panel-2" href="#">
                                    <img src="/assets/media/portfolio/2.jpg" alt="">
                                </a>
                                <div class="media-content">
                                    <h2 class="sidebar-heading">Gestão de TI</h2>
                                    <p class="media-desc">
                                        Nossos profissionais possuem qualificação e experiência para lhe atender melhor.
                                    </p>
                                </div>
                            </li>
                            <!-- List node 4 start -->
                            <li>
                                <a class="media-thumbnail" id="panel-4" href="#">
                                    <img src="/assets/media/portfolio/2.jpg" alt="">
                                </a>
                                <div class="media-content">
                                    <h2 class="sidebar-heading">Suporte de TI</h2>
                                    <p class="media-desc">
                                        Oferecemos contrato de suporte de informática:<br />
                                        Rede estruturada:<br />
                                        Monitoramento CFTV;<br />
                                        Formatação;<br />
                                        Venda de equipamentos e peças de informática;
                                    </p>
                                </div>
                            </li>
                            <!-- List node 2 end -->
                            <!-- List node 3 start -->
                            <li>
                                <a class="media-thumbnail" id="panel-3" href="#">
                                    <img src="/assets/media/portfolio/3.jpg" alt="">
                                </a>
                                <div class="media-content">
                                    <h2 class="sidebar-heading">Automação</h2>
                                    <p class="media-desc">
                                        Cancelas,portões,biometria,cadastro de moradores, visitantes e prestadores de serviço com foto. <br />
                                        Tudo isso em um uníco Softwere de gerencialmento.
                                    </p>
                                </div>
                            </li>
                            <!-- List node 3 end -->

                        </ul>


                    </div>

                    <!-- Sidebar End -->
                    <!-- The Content Start -->

                    <div class="the-content">
                        <!-- Tabs Hover Right Start -->
                        <div class="tab-panels tabs hover-right">
                            <ul class="tab-actions filter-bottom">
                                <li><a id="panel-1" href="#"><h2>Consultoria</h2></a></li>
                                <li><a id="panel-2" href="#"><h2>Gestão de TI</h2></a></li>
                                <li><a id="panel-3" href="#"><h2>Automação</h2></a></li>

                            </ul>
                            <div class="panel panel-1 panel-current">
                                <h1 class="info-about"><span>Consultoria</span> NOSSO PROCESSO DE CONSULTORIA EXISTE PARA APOIAR O SEU! </h1>
                                <p style="text-align:justify;">
                                    <a class="tab-tmb" href="#" target="_blank"><img src="/assets/media/blog/aCtrl.jpg" width="200"></a>
                                    Estamos sempre desenvolvendo soluções customizadas para nossos clientes. Nosso site possui funcionalidades
                                    para o agilizar e otimizar o trabalho do síndico e também dos moradores.
                                </p>
                                <h1 class="info-about"><span>VEÍCULOS</span> CONTROLE DE ACESSO PARA VEÍCULOS </h1>
                                <p style="text-align:justify;">
                                    <a class="tab-tmb" href="#" target="_blank"><img src="/assets/media/blog/totens.jpg" width="200"></a>
                                    Fazemos um toten personalizado para o morador se identificar biometricamente ou pelo cartão de RFID.
                                    Feito sua liberação a cancela é acionada e o mesmo entra tranquilamente em seu condomínio.
                                    Podendo também utilizar o dedo de pânico para que o sistema dê um alerta ao porteiro.
                                </p>
                            </div>

                            <div class="panel panel-2">
                                <h1 class="info-about"><span>Gestão de TI</span> PILARES DA GESTÃO DE TI SOFTCON </h1>
                                <p style="text-align:justify;">
                                    <a class="tab-tmb" href="#" target="_blank"><img src="/assets/media/blog/gTi.jpg" width="200"></a>
                                    Estamos sempre desenvolvendo soluções customizadas para nossos clientes. Nosso site possue funcionalidades
                                    para o agilizar e otimizar o trabalho do síndico e também dos moradores.
                                </p>
                                <h1 class="info-about"><span>Equipe</span> EQUIPE TÉCNICA </h1>
                                <p style="text-align:justify;">
                                    <a class="tab-tmb" href="#" target="_blank"><img src="/assets/media/1-aut.jpg" width="200"></a>
                                    Nossa Equipe de Técnicos, é um grupo que fornece orientações,planejam e realizam projetos otimizados
                                    para auxiliar a gestão do síndico.
                                    Os membros da equipe avaliam a viabilidade técnica de um projeto.
                                    Uma visita antecipada ao local avalia a viabilidade técnica de um projeto proposto.
                                    Um monitoramento durante o projeto informa sobre a implementação de um projeto em andamento.
                                </p>
                            </div>
                            <div class="panel panel-3">
                                <h1 class="info-about"><span>Automação</span> SISTEMA DE SOFTWARE "SINDICO" </h1>
                                <p style="text-align:justify;" class="wfp">
                                    <a class="tab-tmb" href="#" target="_blank"><img src="/assets/media/blog/sindSft.jpg" width="200"></a>
                                    <span>
                                        Acute hunger or starvation are often highlighted on TV screens: hungry mothers too
                                        weak to breastfeed their children in drought-hit Ethiopia, refugees in war-torn Syria queueing for food rations,
                                        helicopters airlifting high energy biscuits to earthquake victims in Haiti or Pakistan.
                                    </span>
                                    <br>
                                    Atendemos condomínios de pequeno, médio ou grande porte buscando sempre solucionar as necessidades
                                    de comunicação de seus clientes. Acompanhamos as fases de planejamento, implantação, treinamento,
                                    prevenção, atualização e utilização, buscando oferecer um produto final condizente com a qualidade
                                    do projeto inicialmente apresentado.
                                    <!--<a href="http://www.wfp.org" target="_blank">Visit Us</a>-->
                                </p>
                            </div>
                        </div>



                    </div>

                    <!-- The Content End -->


                </div><!-- Single Content End -->


            </div>

        </div>
        <!-- Single Content End -->


        <!-- Section Six (Footer) Start -->
        <%= render 'site/footer'%>
        <!-- Section Six (Footer) End -->


        <!-- Simple One  Modal Start (CSS do login) -->
        <div class="modal-form hide">

            <!-- This is a static example of modal built directly into html content -->

            <div class="modal-header">
                <h2 class="modal-title">Administração</h2>
            </div>

            <div class="modal-content">
                <form class="form-basic">
                    <fieldset>
                        <legend>Login</legend>
                        <label>Usuário</label>
                        <input placeholder="Usuário ou Email" type="text">
                        <span class="help-info">Entre com o nome de usuário ou email</span>

                        <label>Senha</label>
                        <input placeholder="Senha" type="password">
                        <span class="help-info">Entre com sua senha</span>
                        <label class="checkbox">
                            <input type="checkbox"> Lembrar-me
                        </label>
                        <button type="submit" class="btn blue">Enviar</button>
                    </fieldset>
                </form>
            </div>
        </div>
        <!-- Simple Form Modal End (CSS do login) -->
    </div>
    <!-- Wrapper End -->
    <!-- ==================
        JAVASCRIPT START
    ======================= -->
    <script src="/assets/site/jquery.js"></script>
    <script src="/assets/site/dc.tips.js"></script>
    <script src="/assets/site/theme.js"></script>
    <script src="/assets/site/dc.modal.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {


            //form modal using reverse hide
            $('.form_').dcModal(
                {
                    effect: "up",
                    hide: 'reverse',
                    style: { width: 380 }
                }
            );

        });
    </script>
    <!-- finish javascript do login -->
    <!-- start javascript do tab -->
    <script src="../static/site/js/dc.tab.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            //STATiC TABS:
            //accepted type: slideLeft, slideRight, slideUp, slideDown
            //accepted trigger: click, mouseover

            $('.hover-left').dcTab({
                effect: { type: "slideLeft" },
                trigger: "mouseover"
            });

            $('.hover-right').dcTab({
                effect: { type: "slideRight" },
                trigger: "mouseover"
            });

            $('.hover-up').dcTab({
                effect: { type: "slideUp" },
                trigger: "mouseover"
            });

            $('.hover-down').dcTab({
                effect: { type: "slideDown" },
                trigger: "mouseover"
            });

            //ajax does not accept type yet
            $(".tabs-two").dcTab({ ajax: true });

        });
    </script>
    <!-- finish javascript do login -->
    <!-- ==================
         JAVASCRIPT END
    ======================= -->
</body>
</html>
