<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @grupopermissao.nome %>
</p>

<%= link_to 'Edit', edit_grupopermissao_path(@grupopermissao) %> |
<%= link_to 'Back', grupopermissaos_path %>
