<section class="content-header">
  <%= form_tag nil, method: 'GET' do %>
    <div class="row">
      <div class="col-lg-12">
        <div class="input-group">
          <input id="q" name="q" type="text" value="<%=@q%>" class="form-control" placeholder="Pesquise pelo documento">
          <span class="input-group-btn">
            <button class="btn btn-success" type="submit" >Buscar</button>
          </span>
        </div><!-- /input-group -->
      </div><!-- /.col-lg-6 -->
    </div><!-- /.row -->
    <br />
  <% end %>
</section>

<br>
<section class="content">

    <% @categoriamural.each do |categoria| %>
        <div class="row">
          <div class="col-md-12">
            <div class="box box-success">
               <div class="box-header with-border">
                 <h3 class="box-title"><%=categoria.nome_categoria%></h3>
                 <div class="box-tools pull-right">
                   <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                 </div>
               </div><!-- /.box-header -->
               <div class="box-body no-padding">
                 <div class="row">
                   <div class="col-md-12 col-sm-12">
                     <% categoria.murals.each do |mural| %>
                          <%= link_to mural.titulo, mural.pdf.url, :target=>"_blank"%>
                     <%end%>
                   </div><!-- /.col -->
                 </div><!-- /.row -->
               </div><!-- /.box-body -->
              </div><!-- /.box -->
            </div>
          </div>
      <%end%>
  </section>
