<p id="notice"><%= notice %></p>

<p>
  <strong>Apartamento:</strong>
  <%= @inadimplente.apartamento %>
</p>

<%= link_to 'Edit', edit_inadimplente_path(@inadimplente) %> |
<%= link_to 'Back', inadimplentes_path %>
